.author__avatar img {
  max-width: 200px;
  border-radius: 8px;
}
.page__content p {
  font-size: 17px;
  line-height: 1.7;
}

.page__content li {
  margin-bottom: 6px;
}

.page__title {
  font-weight: 600;
}
